@import url("https://fonts.googleapis.com/css?family=PT+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=PT+Sans+Narrow&display=swap");

.main-div {
  height: 80vh;
  background-image: url("./assets/img/hero-picture.png");
  background-repeat: round;
  background-position: initial;
  background-size: cover;
}
.main-div .search {
  vertical-align: middle;
  width: 53%;
  height: auto;
  background-color: rgba(255, 255, 255, 0.88);
  top: 36%;
  left: 22%;
  position: absolute;
  padding: 1.2em;
}
.main-div .search .title {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 2.188em;
  word-spacing: 0.05em;
  letter-spacing: 0.03em;
  text-align: center;
  margin: 0 auto;
  width: 70%;
}
.search-field {
  background-image: url("/assets/img/search-field.png");
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid grey;
  width: 80%;
  height: auto;
  margin: 1.4em auto 0;
  border-radius: 4px;
}
.search-field .search-icon {
  margin: 9px;
}
img.search-icon {
  display: inline;
}
.search-field .search-field-input {
  background: transparent;
  border: none;
  position: absolute;
  margin: 0.5em;
  width: 65%;
  height: auto;
  font-size: 22px;
  font-family: "PT Sans", sans-serif;
}
.search-field input.search-input:focus {
  outline-width: 0;
}
.search-field input:focus::-webkit-input-placeholder {
  opacity: 0.3;
}
@media (min-width: 870px) and (max-width: 1024px) {
  .search-field {
    width: 95%;
    height: 42px;
  }
  .search-field .search-icon {
    margin: 0.5em;
    width: 6%;
  }
  .search-field .search-field-input {
    height: 12%;
    font-size: 1.3em;
    margin-left: 1.5em;
  }
}

@media (min-width: 640px) and (max-width: 869px) {
  .main-div {
    background-image: url("./assets/img/hero-mobile.png");
  }
  .main-div .search {
    top: 36%;
    left: 5%;
    width: 80%;
    height: auto;
  }
  .main-div .search .title {
    width: 70%;
    margin-bottom: 0.8em;
    font-size: 1.9em;
  }
  .search-field {
    width: 80%;
    height: auto;
    margin-top: 0.6em;
  }
}
@media (min-width: 480px) and (max-width: 639px) {
  .main-div {
    background-image: url("./assets/img/hero-mobile.png");
  }
  .main-div .search {
    top: 36%;
    left: 5%;
    width: 80%;
    height: auto;
  }
  .main-div .search .title {
    font-size: 2em;
  }
  .search-field {
    width: 95%;
    margin-top: 1.2em;
  }
  .search-field .search-icon {
    margin: 0;
    margin-left: 0.2em;
    padding: 0.6em;
  }
  .search-field .search-field-input {
    width: 73%;
    height: auto;
    font-size: 1.18em;
    margin: 0.6em 0;
  }
}
@media (min-width: 375px) and (max-width: 479px) {
  .main-div {
    height: 45vh;
    background-image: url("./assets/img/hero-mobile.png");
    background-repeat: round;
    background-position: initial;
    background-size: cover;
  }
  .main-div .search {
    top: 23%;
    left: 5%;
    width: 80%;
    height: auto;
  }

  .main-div .search .title {
    font-size: 1.5em;
  }
  .search-field {
    width: 100%;
    height: 35px;
    margin: 0;
  }
  .search-field .search-icon {
    margin: 0.5em;
    width: 6%;
  }
  .search-field .search-field-input {
    width: 75%;
    height: auto;
    margin: 0.5em 0;
    font-size: 0.99em;
  }
}

.container .middle-container {
  width: 100%;
  height: 85px;
  opacity: 0.9;
  background-color: #fafafa;
  padding-top: 40px;
}
.middle-container .btns-container {
  width: 175px;
  margin: 0px auto;
}
.middle-container .btns-container .item-btn {
  height: 43px;
  background-color: rgba(232, 196, 122, 0.8);
  border: 0;
  padding: 15px;
  font-size: 13px;
  text-transform: uppercase;
  font-family: "PT Sans", sans-serif;
}
.middle-container .btns-container .rest-btn {
  margin-left: 17px;
}

.recettes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* .all-rest {
        width: 342px;
        height: 348px;
        margin-right: 38px;
        margin-bottom: 38px;
    }
       .all-rest img {
            width: 342px;
            height: 212px;
        }
        .all-rest .popular-bottom {
            height: 127px;
            width: 342px;
        }
           .all-rest .popular-bottom .title {
                padding-top: 10px;
                margin: auto;
            }
           .all-rest .popular-bottom .name {
                margin: auto;
            } */

.popular-restaurant {
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  letter-spacing: 0.9px;
  text-align: center;
  margin-top: 120px;
}
.popular-restaurant h3 {
  margin-bottom: 40px;
}

/*
.popular-restaurant .spinner {
    margin-top: 50px;
  
}
*/
.popular-restaurant .popular-container {
  padding: 0 57px;
  right: 10%;
}
.popular-restaurant .all-restaurants {
  font-family: "PT Sans", sans-serif;
  margin-top: 30px;
  font-size: 30px;
  letter-spacing: 2px;
  width: 88%;
}
.popular-restaurant .all-restaurants .arrow-icon {
  margin-left: 15px;
}
/* .popular-restaurant-mobile {
  margin-top: 50px;
  font-size: 14px;
}
.popular-restaurant-mobile h3 {
  font-size: 14px;
  letter-spacing: 0.9px;
  margin-bottom: 13px;
} */
