.item-list {
  padding: 1em 4em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.container.search-field {
  background-image: url(/assets/img/search-field.png);
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid grey;
  width: 46%;
  height: 48px;
  margin: 1.4em auto 0;
  border-radius: 4px;
}
.search-field .search-input {
  background: transparent;
  border: none;
  position: absolute;
  margin: 0.5em 0;
  width: 37%;
  height: auto;
  font-size: 1.3em;
}

@media (min-width: 1025px) and (max-width: 1224px) {
  .recette-card {
    width: 30% !important;
    margin: 0.9em !important;
  }
}
@media (min-width: 870px) and (max-width: 1024px) {
  .menu-container .left-subcontainer {
    margin-left: 2em;
  }
  .right-subcontainer {
    margin-right: 2em;
  }
  .item-list {
    padding: 1em;
  }
  .search-field .search-input {
    width: 50%;
    height: auto;
    margin-left: 1em;
  }
  .recette-card {
    width: 30% !important;
    margin: 0.5em !important;
  }
}

@media (min-width: 640px) and (max-width: 869px) {
  .search-field.container {
    width: 80%;
    height: auto;
    margin: 1em auto;
  }
  .search-field .search-input {
    width: 75%;
    height: auto;
  }
  .item-list {
    padding: 1em;
  }
  .recette-card {
    width: 44%;
    margin: 1em;
  }
}

@media (min-width: 480px) and (max-width: 639px) {
  .item-list {
    padding: 0;
    width: 100%;
  }
  .search-field.container {
    width: 85%;
    height: auto;
    margin: 1em auto;
  }

  .search-field .search-input {
    width: 74%;
    margin: 0.7em auto;
    font-size: 1.2em;
  }
}

@media (min-width: 375px) and (max-width: 480px) {
  .search-field.container {
    width: 85%;
    height: auto;
    margin: 1em auto;
  }
  .search-field .search-input {
    width: 72%;
    margin: 0.5em 0 0.3em 2em;
    font-size: 1em;
  }
  .search-field .search-icon {
    margin: 0.3em 0 0.5em 0.8em;
  }
  .item-list {
    padding: 0;
    display: block;
  }
  .recette-card {
    width: 70%;
    padding-bottom: 0;
    margin: 2em;
  }
  recette-card-top img {
    height: 350px;
  }
}
