/* @media (min-width: 1225px) and (max-width: 1403px) { 
@media (min-width: 1025px) and (max-width: 1224px) {
  @media (min-width: 870px) and (max-width: 1024px) {
@media (min-width: 640px) and (max-width: 869px) {
@media (min-width: 480px) and (max-width: 639px) {
 @media (min-width: 375px) and (max-width: 479px) {
  */

.recette-card-top img {
  width: 100%;
  height: 375px;
}

.recette-card-bottom .title {
  text-transform: uppercase;
  margin-top: 0.8em 0.3em;
  font-family: "PT Sans", sans-serif;
  font-size: 1.2em;
  letter-spacing: 2px;
  text-align: center;
}
.recette-card-bottom ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
.recette-card-bottom ul li {
  padding: 0.8em 1em;
  display: flex;
  font-family: "PT Sans", sans-serif;
}
/* .recette-card-bottom ul li:last-child {
  padding-bottom: 0.2em;
} */
.recette-card {
  background-color: #f9f4ea;
  width: 25%;
  height: auto;
  transition: all 0.1s ease-in-out;
  padding-bottom: 1em;
  margin: 2em;
}
.recette-info-icon {
  width: 1.5em;
  padding-right: 1em;
}
@media (min-width: 480px) and (max-width: 639px) {
  .recette-card {
    width: 45%;
    margin: 1em 0.5em;
  }
  recette-card-top img {
    height: 330px;
  }
  .recette-card-bottom .title {
    font-size: 1em;
  }
  .recette-info-icon {
    width: 1em;
  }
}

@media (min-width: 375px) and (max-width: 480px) {
  .recette-card {
    padding-bottom: 0;
  }
  .recette-card-bottom .title {
    font-size: 0.9em;
    padding-left: 0.1em;
  }
  .recette-info-icon {
    width: 1em;
  }
  .recette-card-bottom ul li {
    padding: 0.4em 0.8em;
    font-size: 0.8em;
  }
}
